@model IEnumerable<AirlineReservation.Models.Aircraft>
@{
    ViewBag.Title = "Aviones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Aviones</h2>
        @if (ViewBag.Message != null)
        {
            <input type="hidden" id="error" value="@ViewBag.Message">
        }
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title tooltip-demo">
                    &nbsp;
                    <a class="btn btn-default btn-options btn-sm btn-outline" data-toggle="tooltip" data-placement="top" title="Refrescar" href="@Url.Action("Index", "Aircraft", new { pagina = 1 })"><i class="fa fa-refresh"></i> Refrescar</a>
                    &nbsp;&nbsp;
                    <a class="btn btn-default btn-options btn-outline" data-toggle="tooltip" data-placement="top" title="Crear" href="@Url.Action("Create", "Aircraft")"><i class="fa fa-plus"></i> Crear</a>
                    <div class="ibox-tools">
                    </div>
                </div>
                <div class="ibox-content table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="aircrafts">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Capacity)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Code)
                                </th>
                                <th>
                                    Acciones
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr id="@item.ID">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Capacity)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Code)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Detalles", "Details", new { id = item.ID }, new { @class = "btn btn-outline btn-primary btn-xs" })
                                            @Html.ActionLink("Editar", "Edit", new { id = item.ID }, new { @class = "btn btn-outline btn-info btn-xs" })
                                            @Html.ActionLink("Eliminar", "Delete", new { id = item.ID }, new { @class = "btn btn-outline btn-danger btn-xs" })
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/plugins/toastrStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/toastr")

    <script type="text/javascript">
        $(document).ready(function () {
            var mensaje = document.getElementById("error");
            if (mensaje != null) {
                toastr.error(mensaje.value);
            }
        });
    </script>
}