@model AirlineReservation.Models.Reservacion
@{
    ViewBag.Title = "Reservacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Reservacion</h2>
        @if (ViewBag.Message != null)
        {
            <input type="hidden" id="error" value="@ViewBag.Message">
        }
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="ibox-content">
            @using (Html.BeginForm("BuscarVuelos", "Reservation", FormMethod.Post, new { @class = "form-horizontal" }))
            {

                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Agente</label>

                    <div class="col-sm-5">
                        <select class="form-control m-b" name="AgenciaID" id="AgenciaID">
                            @foreach (var agente in @Model.AgenciasTodos())
                            {
                                <option value="@agente.ID">@agente.AgentName</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Pasajero</label>

                    <div class="col-sm-5">
                        <select class="form-control m-b" name="PasajeroID" id="PasajeroID">
                            @foreach (var pasajero in @Model.PasajerosTodos())
                            {
                                <option value="@pasajero.ID">@pasajero.FirstName</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"> Aeropuerto Salida</label>

                    <div class="col-sm-5">
                        <select class="form-control m-b" name="AeropuertoOrigenID" id="AeropuertoOrigenID">
                            @{var aeropuertos = Model.AeropuertosTodos();}
                            @foreach (var aeropuerto in aeropuertos)
                            {
                                <option value="@aeropuerto.ID">@aeropuerto.Name</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"> Aeropuerto LLegada</label>

                    <div class="col-sm-5">
                        <select class="form-control m-b" name="AeropuertoDestinoID" id="AeropuertoDestinoID">
                            @foreach (var aeropuerto in aeropuertos)
                            {
                                <option value="@aeropuerto.ID">@aeropuerto.Name</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Fecha</label>

                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="fecha" id="fecha" value="@Model.fecha">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>Buscar</strong></button>
                </div>

            }    
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/plugins/toastrStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/toastr")

    <script type="text/javascript">

        $(document).ready(function () {
            var mensaje = document.getElementById("error");
            if (mensaje != null) {
                toastr.info(mensaje.value);
            }
        });
    </script>
}